<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.huyingbao.module.epidemic">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".EpidemicApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_label_epidemic"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:label">
        <activity android:name="com.huyingbao.module.epidemic.ui.main.view.MainActivity" />
    </application>

</manifest>